{% extends "layouts/dashboard.html" %}

{% block title %}My Applications{% endblock %}

{% block dashboard_content %}

<h1>My Applications</h1>

<table>
    <tr>
        <th>Scheme</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Applied At</th>
    </tr>

    {% for app in applications %}
    <tr>
        <td>{{ app.title }}</td>
        <td>{{ app.deadline }}</td>
        <td>{{ app.status }}</td>
        <td>{{ app.applied_at }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}