<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Requests</title>
</head>
<body>

<h2>Uploaded Image Requests</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Image Name</th>
        <th>Upload Time</th>
        <th>Status</th>
    </tr>

    {% for row in uploads %}
<tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>
        <a href="/verify/{{ row[0] }}">Verify</a>
    </td>
</tr>
{% endfor %}


</table>

</body>
</html>
